@using WebApplication1.Models.DBModels


@model WebApplication1.Models.DBModels.Post

@{
    ViewBag.Title = "Блог любителей серфинга";
}

@if (Session["UserId"] != null)
{

    

            <div class="panel panel-info">
                <div class="panel-heading">
                    Добавление новой записи
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("AddPost", "Feed", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                    <form>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Text)
                            @Html.TextAreaFor(model => model.Text, 10, 400, new { htmlAttributes = new { @class = "form-control add-post-area" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Photo)
                            <button type="submit" class="btn pull-right">Добавить</button>
                            <input name="imageData" type="file" accept="image/jpeg" />

                        </div>
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>                        
                        
                    </form>
                            }
                           

                    </div>
            </div>
}


@foreach (var post in ViewBag.Posts)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            
            @{ 
                var photoUrl = WebApplication1.Helpers.ImageUrlHelper.GetUrl(post.Author.Photo);
                if(photoUrl != null)
                {
                        <div class="col-xs-1">
                            <img class="img-circle" src="@Url.Content(photoUrl)" height="37" width="37" />
                        </div>
            }               
    }

    @post.Author.Nickname
    <br>
    @post.PublishDate
        </div>
        <div class="panel-body">
            <p>@post.Text</p>

            @if (@post.Photo != Guid.Empty)
            {
                        var url = WebApplication1.Helpers.ImageUrlHelper.GetUrl(post.Photo);
            <div>
                <img src="@Url.Content(url)" class="full-width" width="800" />
            </div>
            }
        </div>
    </div>
}
