@model WebApplication1.Models.DBModels.User
@{
    ViewBag.Title = "А кто продавец?";
}

<h2>Информация о продавце</h2>

Никнейм : @Model.Nickname
<br>
Фамилия : @Model.LastName
<br>
Имя : @Model.Name
<br>
Почта: @Model.Email
<br>
О себе : @Model.About
<br>